<%= form_tag(artist_path(@artist), method: "patch") do %>
    <label>Name:</label><br>
    <%= text_field_tag :'artist[name]', @artist.name%><br>
    
    <label>Bio:</label><br>
    <%= text_area_tag :'artist[bio]', @artist.bio %><br>
    
    <%= submit_tag value='Update Artist'%>
<% end %>